/*
 * -------------------------------------------------
 * Nextflow config file for Cawdor
 * -------------------------------------------------
 * Path to reference files
 * -------------------------------------------------
 * Imported under Nextflow profiles in
 * nextflow.config
 * -------------------------------------------------
 * Defines reference genomes, using paths
 * Can be used by any config that customises the base
 * path using $params.genome_base / --genome_base
 * -------------------------------------------------
 */

params {
  genomes {
    'default' {
      bwaIndex         = "${params.genome_base}/${params.genome}/${params.genome}.fa.{amb,ann,bwt,pac,sa}"
      genomeDict       = "${params.genome_base}/${params.genome}/${params.genome}.dict"
      genomeFasta      = "${params.genome_base}/${params.genome}/${params.genome}.fa"
      genomeIndex      = "${params.genome_base}/${params.genome}/${params.genome}.fa.fai"
      intervals        = "${params.genome_base}/${params.genome}/wgs_calling_regions_CAW.list"
      dbsnp            = "${params.genome_base}/${params.genome}/dbsnp-151.vcf.gz"
      dbsnpIndex       = "${params.genome_base}/${params.genome}/dbsnp-151.vcf.gz.tbi"
      vepCacheVersion  = "94"
    }
    'GRCh37' {
      intervals        = "${params.genome_base}/${params.genome}/wgs_calling_regions_CAW.list"
      vepCacheVersion  = "94"
    }
    'hg38' {
      intervals        = "${params.genome_base}/${params.genome}/wgs_calling_regions.hg38.bed"
      vepCacheVersion  = "94"
    }
    'smallGRCh37' {
      bwaIndex         = "${params.genome_base}/${params.genome}/human_g1k_v37_decoy.small.fasta.{amb,ann,bwt,pac,sa}"
      genomeDict       = "${params.genome_base}/${params.genome}/human_g1k_v37_decoy.small.dict"
      genomeFasta      = "${params.genome_base}/${params.genome}/human_g1k_v37_decoy.small.fasta"
      genomeIndex      = "${params.genome_base}/${params.genome}/human_g1k_v37_decoy.small.fasta.fai"
      intervals        = "${params.genome_base}/${params.genome}/small.intervals"
      dbsnp            = "${params.genome_base}/${params.genome}/dbsnp_138.b37.small.vcf"
      dbsnpIndex       = "${params.genome_base}/${params.genome}/dbsnp_138.b37.small.vcf.idx"
      vepCacheVersion  = "94"
    }
  }
}
