params {
  singleCPUMem = 1.GB // for processes that are using more memory but a single CPU only. Use the 'core' queue for these
  max_cpus = 1
  max_memory = 1.GB
  max_time = 8.h
}

docker {
  enabled = true
  fixOwnership = true
  runOptions = "-u \$(id -u):\$(id -g)"
}

process {
  cpus = { check_max( 1, 'cpus' ) }
  memory = { check_max( 1.GB * task.attempt, 'memory' ) }
  time = { check_max( 8.h * task.attempt, 'time' ) }

  withName:RunManta {
    container = 'quay.io/biocontainers/manta:1.5.0--py27_0'
  }
  withName:RunStrelkaBP {
    container = 'quay.io/biocontainers/strelka:2.9.10--0'
  }
}
