params {
  max_cpus      = 28
  max_memory    = 94.GB
  max_time      = 48.h
  singleCPUMem  = 7.GB // for processes that are using more memory but a single CPU only
}

process {
  clusterOptions = {"-l jobfs=100GB"}
  executor = 'nci'
  queue = 'normalbw'

  cpus = 1
  memory = 20.GB
  time = { params.max_time }

  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 3

  withName:MapReads {
    time = { params.max_time * task.attempt }
    cpus = { check_max( params.max_cpus, 'cpus' ) }
    memory = { check_max( 80.GB, 'memory' ) }
  }
  withName:MergeBams {
    cpus = { check_max( 4, 'cpus') }
    time = { check_max( 5.h * task.attempt, 'time' ) }
    memory = { params.singleCPUMem * task.attempt }
  }
  withName:MarkDuplicates {
    cpus = { check_max( 8, 'cpus' ) }
    memory = { check_max( 20.GB * task.attempt, 'memory' ) }
  }
  withName:RunQualimap {
    cpus = params.max_cpus
    memory = { check_max( 80.GB, 'memory' ) }
  }
  withName:RunBcftoolsStats {
    cpus = 1
  }
  withName:RunFastQC {
    cpus = { check_max( 2, 'cpus' ) } // FastQC is only capable of running one thread per fastq file.
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  withName:RunFreeBayes {
    cpus = 1
    memory = { params.singleCPUMem * task.attempt }
    time = { params.max_time }
  }
  withName:RunHaplotypecaller {
    cpus = 1
    // Increase memory quadratically
    memory = { params.singleCPUMem * task.attempt * task.attempt}
    time = { params.max_time }
  }
  withName:RunGenotypeGVCFs {
    cpus = 1
    memory = { params.singleCPUMem * task.attempt }
  }
  withName:RunMultiQC {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  withName:RunMutect2 {
    cpus = 1
    memory = { params.singleCPUMem * task.attempt }
    time = { params.max_time }
  }
  withName:RunSamtoolsStats {
    cpus = { params.max_cpus }
    time = { params.max_time }
  }
  withName:RunManta {
    cpus = { params.max_cpus }
    memory = { check_max( 16.GB * task.attempt, 'memory') }
    time = { params.max_time }
    beforeScript = { 'export PATH=$CONDA_PREFIX/../py2/bin:$PATH' }
  }
  withName:RunStrelkaBP {
    cpus = { params.max_cpus }
    memory = { check_max( 16.GB * task.attempt, 'memory') }
    time = { params.max_time }
    beforeScript = { 'export PATH=$CONDA_PREFIX/../py2/bin:$PATH' }
  }
  withName:RunVEP {
    cpus = { params.max_cpus }
    memory = { check_max ( 32.GB * task.attempt, 'memory' ) }
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  withLabel:purple {
    cpus = { params.max_cpus }
    memory = { check_max( 30.GB * task.attempt, 'memory' ) }
  }
}
